@import "normalize";
@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

$susy: (
  columns: 12,
  gutters: 1/4,
  container: 71.25rem,
  global-box-sizing: border-box,
);

// Colours
$color-primary: #38a1d6;
$color-secondary: #16f4d0;
$color-tertiary: #fcee21;
$color-grey: #a1acb5;
$color-grey-light: #dce8ef;
$color-grey-dark: #333;

// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

* {
  box-sizing: border-box;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  padding: 0 .625rem;
}

.container {
  @include container();
}

header {
  background-color: $color-primary;
  height: 4rem;
  margin-bottom: gutter();
}

section {
  @extend %clearfix;
  margin-bottom: gutter();
}

article {
  .a & {
    height: 4rem;
    background-color: $color-secondary;

    @media (min-width: $tablet) {
      @include span(6);

      &:last-child {
        @include span(6 last);
      }
    }
  }

  .b & {
    height: 4rem;
    background-color: $color-tertiary;

    @media (min-width: $tablet) {
      @include span(4);

      &:last-child {
        @include span(4 last);
      }
    }
  }

  .c & {
    height: 4rem;
    background-color: $color-grey-light;

    @media (min-width: $tablet) {
      @include span(3);

      &:last-child {
        @include span(3 last);
      }
    }
  }
}

footer {
  @include span(full);
  background-color: $color-grey;
  height: 4rem;
}

.outline {
  display: block;
  margin: gutter() 0;
  font-family: Lato, sans-serif;
  color: $color-primary;
  text-decoration: none;
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}
